* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template: 1fr 5fr / 1fr 5fr;
  border: 1px solid black;
  background-color: pink;
}

/* ******** Sidebar Section ******** */

/*  Sidebar text needs to be evened out and needs logo at top right to be finished. */
.sidebar {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/ 5;
  justify-content: flex-start;
  background-color: dodgerblue;
  color: white;
  text-align: left;
  align-content: flex-start;
}

.header-logo {
  font-size: 25px;
  font-weight: 900;
  padding: 15px;
}

ul {
  padding: 25px;
  text-align: left;
}

li,
i {
  padding-right: 15px;
}

li {
  list-style-type: none;
  padding: 10px;
  font-weight: 600;
}

/* ******** Header ******** */
.header {
  grid-row: 1 / 2;
}

/* ******************************** When restart on a fresh brain tomorrow, keep everything above this line ******************************** */

/* ******** Main Content Section ******** */

/* Need 2 columns and 3 rows for your projects, and a final column at the end with 2 rows for extra info */
/* can be done following these examples: https://stackoverflow.com/questions/47614008/can-i-have-a-varying-number-of-columns-per-row-in-a-css-grid#:~:text=No%2C%20it's%20not%20possible%20to,any%20grid%20for%20that%20matter. */

/* Make entire container of Main Content a grid */
.container {
  display: grid;
}
